/* TODO Add site wide styles */
body {
    background-image: url("./resize.jpeg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    /* background-attachment: fixed; */
    background-position: top right;

}