.song-li {
    background-image: url("../../marble2.jpeg");
    margin: 100px;
    border-radius: 12px;
    width: 100%;
    height: 250px;
}

.playlist-field {
    display: flex;
    flex-direction: column;
}