.navbar {
  background-color: rgb(112 143 192);
  /* background-image: url("/Users/Vic/Desktop/aA/react_tunes/react_tunes/frontend/src/marbles.jpeg"); */
  /* background-position: center right; */
  position: fixed;
  top: 0px; 
  width: 100%;
  margin-left: 0px;
}

.side-nav {
  background-color: rgb(183 183 183);
  /* background-image: url("/Users/Vic/Desktop/aA/react_tunes/react_tunes/frontend/src/marbles.jpeg"); */
  /* background-position: center right; */
  width: 120px;
  position: fixed;
  left: 0px; 
  top: 0px; 
  bottom: 0px;
  height: 100%;
  margin-left: 0px;
}

.sidebarlink {
  margin: 5px;
  margin-top: 50px;
}

.link {
  display: inline-block;
  background-image: url("../../marble2.jpeg");
  background-position: center right;
  /* opacity: 0.5; */
  height: 40px;
  width: 70px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(53 78 120);
  border-radius: 10px;
}

.navlink {
  margin-left: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilebutton {
  display: inline-block;
  height: 70px;
  width: 100px;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(189 0 38);
  border-radius: 10px;
}
/*
.login {

}

.signup {

}

.songs {

} */